@import "colors";

.digit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  margin: 4px;
  border-radius: 10px;
  border: 2px solid $dark-blue;
  color: $dark-blue;
  font-size: 18px;
  font-weight: 700;
}

.dragging {
  opacity: 0.5;
}