@import "colors";

.notRunning {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(50%, $secondary),
    color-stop(50%, transparent)
  );
  background-image: linear-gradient(90deg, $secondary 50%, transparent 50%);
  background-position: 100%;
  background-size: 200%;
  transition: background 15000ms linear;
}

.running {
  color: $accent;
  border-color: $accent;
  background-position: 0;
  cursor: unset;
}

.running:hover {
  box-shadow: unset;
  text-shadow: unset;
}

.container {
  width: 298px;
  height: 34px;
  border: solid 2px $dark-blue;
  border-radius: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 999;
  justify-items: center;
}

.fill {
  position: absolute;
  left: 0;
  width: 298px;
  height: 33px;
  background-image: linear-gradient(135deg, $green, $blue);
  border: none;
  text-align: center;
  border-radius: 24px;
  overflow: hidden;
}

.text {
  margin: auto;
  padding: 0;
  z-index: 1000;
}
