@import "colors";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.moves {
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
  grid-gap: 12px;
  grid-template-columns: auto 1fr auto;
  span {
    font-size: 14px;
    padding: 0;
    justify-self: start;
  }
  .score {
    justify-self: end;
  }
}

.points {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  justify-self: center;
}

.point {
  margin: auto 2px;
  border: solid 1.5px $dark-blue;
  height: 10px;
  width: 10px;
  border-radius: 8px;
  &.win {
    background-color: $green;
  }

  &.lose {
    opacity: 0.5;
  }
}
