@import 'colors';

.playArea {
	display: flex;
	flex-direction: column;
	padding: 32px;
	transition: linear all 100ms;
}

.playing {
	border: dashed 1.5px $dark-blue;
	border-radius: 25px;
	transition: linear all 200ms;
}
