@import "colors";

.digitBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 4px;
  border-radius: 10px;
  border: 2px solid $dark-blue;
  color: $dark-blue;
  font-size: 18px;
  font-weight: 700;
}

.isOver {
  transform: scale(1.5);
  opacity: 0.5;
}