$white: #e5e5e5;
$accent: red;
$gray: #838383;
$primary: #455365;
$secondary: #c7efcb;
$green: #c7efcb;
$dark-blue: #455365;
$dark-blue-10: rgba(#455365, 0.1);
$dark-blue-40: rgba(#455365, 0.4);
$blue: #b3d1fe;
