@import "colors";

.button {
  width: 150px;
  height: 34px;
  font-size: 18px;
  color: $white;
  font-weight: 700;
  border-radius: 24px;
  background-color: $dark-blue;
  box-shadow: $dark-blue-10 2px 2px 4px;
  border: none;
  transition: all 400ms;
}

.button:hover {
  box-shadow: $dark-blue-40 2px 2px 4px;
  transform: translateY(-1px);
}

.button:focus {
  box-shadow: none;
  transform: translateY(1px);
}